@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Website</h1>
    <p class="lead"></p>
    <p><a></a></p>
</div>

<div class="row">
    <div class="col-md-4">
   </div>
</div>